---
/* HomepageLayout.astro
* Do NOT modify this file, or any of the files in the layouts/ directory. Any
* work by you must be added to:
*
* - the assets/ directory (for static assets such as images)
* - the pages/ directory (for your main content page)
* - the components/ directory (for your components)
* - the styles/ directory (for any CSS, where applicable)
* 
* If you find yourself needing to modify something in this file, seek support
* from your instructor.
*/ 

const { title = "CSARCH2 Virtual Exhibit", author } = Astro.props.frontmatter ?? Astro.props;

const allExhibits = await Astro.glob('../pages/*.mdx');
const exhibits = allExhibits.filter(exhibit => !exhibit.file.includes('index.mdx'));

import 'normalize.css';
import '@fontsource-variable/lora';
import '@fontsource-variable/noto-sans';

import '../styles/global.css'; 

import { Icon } from 'astro-icon/components';
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
    </head>

    <body>
        <hgroup class="titleheading">
            <h1 class="title">ArchCities Virtual Exhibit</h1>
            <div class="subtitle">Computer Architecture is Forever</div>
        </hgroup>
        <main class="content">
            <nav class="toc">
                <h2>Exhibits</h2>
                <ul class="toc__list">
                    {exhibits.map((exhibit) => (
                        <li class="toc__item" style="margin-bottom: 1rem;">
                            <a href={exhibit.url} style="font-weight: 500;">
                                {exhibit.frontmatter.title || "Untitled Exhibit"}
                            </a>
                            {exhibit.frontmatter.author && (
                                <span style="display: block; font-size: 0.8rem; color: var(--muted);">
                                    by {exhibit.frontmatter.author}
                                </span>
                            )}
                        </li>
                    ))}
                </ul>
            </nav>
        </main>

        <footer>CSARCH2 Virtual Exhibit &mdash; "Computer Architecture is Forever"</footer>
    </body>
</html>
